<section class="recipe-card">
  <div class="img-container">
    <img class="recipe-img" src="{{url}}"/>
  </div>
  <div class="recipe-title">
    <a href="/recipe/{{urlextension}}">{{title}}</a>
  </div>
  <div class="recipe-time">
    <i class="fas fa-clock"></i> Time: {{duration}} mins
  </div>
  <div class="recipe-servings">
    <p><i class="fas fa-user-friends"></i> serves {{serving}} </p>
		<button type="button" id="recipe-favorite"><i class="fas fa-heart"></i></p>
  </div>
  <div class="recipe-ingredients hidden">
    {{ingredients}}
  </div>
  <div class="recipe-instructions hidden">
    {{instructions}}
  </div>
  <div class="recipe-author hidden">
    {{author}}
  </div>
</section>
